<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Import public stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='public.css') }}">
  <title>soshaly - soshalist social media</title>
</head>

<body>
	<div class="container" id="container-mother">
		<div class="row" id="row-mother">
			<div class="col" id="col-iron-curtain">
				<div class="row" id="row-logo">
					<div class="iron-curtain-col" id="col-logo">
						<img id="logo" src="{{ url_for('static', filename='soshaly_logo.png') }}">
						<img id="logo-text" src="{{ url_for('static', filename='soshaly.png') }}">
					</div>
				</div>
				<div class="row" id="row-user">
					<div class="col-iron-curtain" id="col-user">{% block user %}{% endblock %}</div>
				</div>
				<div class="row" id="row-post">
					<div class="col-iron-curtain" id="col-post">{% block post %}{% endblock %}</div>
				</div>
				<div class="row" id="row-circles">
					<div class="col-iron-curtain" id="col-circles">{% block circles %}{% endblock %}</div>
				</div>
				<div class="row" id="row-comrades">
					<div class="col-iron-curtain" id="col-comrades">{% block comrades %}{% endblock %}</div>
				</div>
				<div class="row" id="row-invite">
					<div class="col-iron-curtain" id="col-invite">{% block invite %}{% endblock %}</div>
				</div>
			</div>
			<div class="col" id="col-iron-curtain-handle">
				<span id="iron-handle-align"></span><img id="iron-handle" src="{{ url_for('static', filename='iron_handle.png') }}">
			</div>
			<div class="col" id="col-content">
				<div class="row" id="search-row">
				  <div class="col" id="search-col">
					{% block search %}{% endblock %}
				  </div>
				</div>			
        {% block content %}{% endblock %}
			</div>
		</div>
	</div>
	
  <!-- Import jquery 3.3.1 slim min -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</body>

</html>
